@import 'bootstrap';
@import 'bootstrap-icons';

img[alt~="Logo"] {
    height: 5rem;
}

.navbar {

    border-radius: 0 0 0 1.5rem;

    .nav-link {
        font-size: 1.5rem;
    }

}

.main-card:hover {
    cursor: pointer;
}

.card-body {

    img {
        object-fit: contain;
        object-position: center;
        aspect-ratio: 1/1;
    }

    .rate {
        right: -3.5rem;
        bottom: -0.5rem;
    }
}

.next,
.prev {
    top: 50%;
    font-size: 2.5rem;
    color: rgba(36, 36, 36, 0.685);
    transform: translate(-50%, -50%);
}

.next {
    left: 98%;
}

.prev {
    left: 2%;
}

.back {
    right: 2rem;
    bottom: 1rem;
}

.rating {
    display: inline-flex;
    background: linear-gradient(90deg,
            #ffc107 var(--percent),
            #5e55555e var(--percent));

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.singleProductSection {

    min-height: 90vh;

    .card-body {
        height: 80vh;
    }

    .productCardImg {
        min-width: 50%;
    }

    productCardInfo {
        min-width: 50%;
    }
}