@import 'bootstrap';
@import 'bootstrap-icons';

.navbar {

    img[alt~="Logo"]{
        height: 5rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

}

.card-body {

    img {
        object-fit: contain;
        object-position: center;
        aspect-ratio: 1/1;
    }

    .position-absolute {
        right: 0.3rem;
        bottom: 0.3rem;
    }
}